<link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet"> <link href="https://fonts.googleapis.com/css?family=Nunito|Playfair+Display" rel="stylesheet"> <link href="https://fonts.googleapis.com/css?family=Engagement" rel="stylesheet">
.kouheibox{width: 480px; padding: 7px; background-color: #F4F4F4; color: #333; 
           font-family: open sans; font-size:12px; line-height: 16px; letter-spacing: 0.5px; 
           text-align: justify} 
.kht{width: 480px; padding: 7px; 
     background-color: #F4F4F4; color: #333; 
     font-family: open sans; font-size:12px; line-height: 16px;
     letter-spacing: 0.5px; text-align: center} 
.div-2 {width:500px; background:url('https://i.ibb.co/TwSLQpj/IMG-2472.jpg') #ffffff no-repeat; 
        padding:180px 4px 10px 10px; font-family: open sans condensed; 
        color:#000000; font-size:11px; text-align:center; border-right:5px solid #ffffff; 
        border-left:5px solid #ffffff; border-top:5px solid #ffffff; margin-bottom: -50px;} 
.picleft{height: 100px; width: 200px; border: 3px solid #004d80;} 
h9{width:100%;color:#004d80; font-family: Playfair Display; 
   font-size:20px; text-transform:uppercase; letter-spacing:2px;text-align:center;
   line-height:25px;margin:0 px 0px 3px 0px;} 
.khstats {width: 480px; padding: 7px; background-color: #F4F4F4; 
          color: #333; font-family: open sans; font-size:10px; line-height: 13px; letter-spacing: 0.5px; text-align: center}
