.infoTOP {
  margin: auto; 
  width: 480px; 
  height: 40px; 
  text-align: left; 
  font-weight: 700; 
  font-style: italic; 
  letter-spacing: 0.1em; 
  line-height: 40px; 
  padding-left: 20px; 
  text-transform: lowercase;
} 

.infoTOP div {
  text-align: right; 
  position: relative; 
  top: -40px; 
  padding-right: 20px;
} 

.infoTOP a {
  color: #fff !important;
} 

.imgTOP {
  width: 500px; 
  height: 200px; 
  margin: auto; 
  background-attachment: fixed; 
  background-position: center;
} 

.fondRP {
  margin: auto; 
  width: 500px; 
  height: auto;
} 

.titreRP {
  margin: auto; 
  text-align: center; 
  letter-spacing: 0.1em; 
  line-height: 40px; 
  text-transform: uppercase;
} 

#blocRP {
  margin: 5px; 
  width: 480px; 
  height: auto; 
  padding: 15px; 
  overflow: visible;
  text-align: justify; 
} 
